<div class="container">
    <mat-form-field appearance="fill" class="login-input">
        <mat-label>Username</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" class="login-input">
        <mat-label>Password</mat-label>
        <input matInput type="password">
    </mat-form-field>
    <mat-form-field appearance="fill" class="login-input">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="Patient">Patient</mat-option>
          <mat-option value="Doctor">Doctor</mat-option>
        </mat-select>
      </mat-form-field>
    <br>
    <button mat-raised-button color="primary" class="login-input">Register and Login</button>
    <button mat-raised-button color="basic" class="login-input" (click)="ui.startLogin()">Already Have Account</button>

</div>